<div class="navigation">
  <ul>
      <li>
          <a href="#">
              <span class="icon"><ion-icon name="logo-firefox"></ion-icon></span>
              <span class="title">Dashboard</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">Dashboard</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
              <span class="title">Messages</span>
          </a>
      </li>
  </ul>

</div>
