<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

  <div class="container">

    <!-- menu -->
    <%- include('../partials/menu.ejs'); %>

    <!-- main -->
    <div class="main">

      <!-- top bar -->
      <%- include('../partials/topbar.ejs'); %>

      <!-- cards -->
      <div class="cardBox">

        <div class="card">
          <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Daily</div>
          </div>
          <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Sales</div>
          </div>
          <div class="iconBx">
            <ion-icon name="cart-outline"></ion-icon>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">504</div>
            <div class="cardName">comments</div>
          </div>
          <div class="iconBx">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">$ 804</div>
            <div class="cardName">Earnings</div>
          </div>
          <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">$ 804</div>
            <div class="cardName">Earnings</div>
          </div>
          <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>

      </div>

      <footer>
        <%- include('../partials/footer'); %>
      </footer>

    </div>

  </div>




</body>
</html>
